html{
    background-color: rgba(100, 224, 224, 0.884);
}
header{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#form {
    text-align: center;

}
#correo{
    width: 30vh;
    text-align: center;
}
#areaTexto{
  width: 50vh;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  
}
label{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
    display: block;
    margin-bottom: 10px;
}
label p{
    
}