html{
    background-color: rgb(0, 179, 179);
}
body{
    background-color: rgba(255, 255, 255, 0.603);
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
}
h1{
    text-align: center;
}
form{
    margin-left: 30vh;
    font-size: x-large;
}
header{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
form{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
select{
    height: 2.2vh;
    width: 12vh;
    
}
select:hover{
    background-color: rgba(224, 223, 223, 0.623);
}
input{
    height: 2.3vh;
}
input:hover{
    background-color: rgba(224, 223, 223, 0.623);
}