html{
    background-color: rgba(100, 224, 224, 0.884);
}
body{
    text-align: center;
}
header{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
section{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: calc(20%);
}
footer a{
    font-size: larger;

}