html{
    background-color: rgba(100, 224, 224, 0.884);
}
header{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#form {
    text-align: center;

}
#mensaje{
    text-emphasis-position:initial;
    font-size: large;
    text-align: start;
    padding: 30px;
}
label{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
    display: block;
    margin-bottom: 10px;
}
label p{
    
}
