header{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
form{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
form select{
    height: 2.2vh;
    width: 12vh;
    
}
form select:hover{
    background-color: rgba(224, 223, 223, 0.623);
}
form input:hover{
    background-color: rgba(224, 223, 223, 0.623);
}